

<h1>Sebastian</h1>
<p><%= flash[:notice] %></p>
<main>
	<form action="<%= pages_save_user_path%>" method="POST">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<input type="text" placeholder="nombre" name=a>
		<input type="text" placeholder="edad" name=b>
		<input type="text" placeholder="mail" name=c>
		<button type="submit"> enviar</button>
	</form>
	
</main>

