<h1>Pages#x</h1>
<p>Find me in app/views/pages/x.html.erb</p>
<h1>Sebastian</h1>

<form action="x_submit" method="get" accept-charset="utf-8">
	<input type="text" placeholder="nombre">
	<input type="text" placeholder="edad">
	<input type="text" placeholder="mail">
</form>

