// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin: 0;
}
main{
	background-color: lightgrey;
	width: 80%;
	padding: 30px;
	margin: 0 auto;
}
main form input{
	display: block;
	margin: 15px 0;

}
 main form button{

 }

